@charset "ISO-8859-1";
body {
	background-color: #4f5b66;
}


#logo-stationary {
	position: fixed;
	width: 500px;
	height: 400px;
	top: 35%;
	left: 50%;
	transform:	translate(-50%, -50%);
}

#buttonrow {
	position:  fixed;
	top: 60%;
	left: 50%;
	transform:	translate(-60%, -50%);
}